{% load static %}
<footer class="foot text-center text-lg-start" style="background-color: rgb(127, 191, 255); " >
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-lg-6 col-mg-12 mb-4 mb-md-0">
                <h5>Address</h5>
                <p>Lorem ipsum dolor sit amet.lorem</p>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-md-0" style="text-align: left;" >
                <h5>POLICY</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark">Return policy</a></li>
                    <li><a href="#" class="text-dark">terms</a></li>
                    <li><a href="#" class="text-dark">security</a></li>
                    <li><a href="#" class="text-dark">privacy</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-md-0" style="text-align: left;" >
                <h5>ABOUT</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark">contact</a></li>
                    <li><a href="#" class="text-dark">about us</a></li>
                    <li><a href="#" class="text-dark">careers</a></li>
                    <li><a href="#" class="text-dark">lorem ipsum</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-md-0" style="text-align: left;" >
                <h5>SOCIAL</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark">instagram</a></li>
                    <li><a href="#" class="text-dark">facebook</a></li>
                    <li><a href="#" class="text-dark">youtube</a></li>
                    <li><a href="#" class="text-dark">privacy</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgb(0, 106, 255);">
            <img src="{% static 'images/card.jpeg' %}" alt="">
        </div>
    </div>
</footer>