{% extends 'customers/masterpage.html' %} 
{% load static %}
{% block content %}
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'customers:home' %}">Home</a>
    </li>
   
    
  </ul>

  <div class="wrapper">
      <div class="wrap">
          <form action="{% url 'customers:login' %}" method="post">
              {% csrf_token %}
              <h1 style="color: aliceblue;">Login</h1>
              <div class="input-box">
                  <input type="text" name="username" id="" placeholder="Enter your email" required>
                  <i class='bx bxs-user'></i>
              </div>
              <div class="input-box">
                  <input type="text" name="password" id="" placeholder="Password" required>
                  <i class='bx bxs-lock-alt'></i>
              </div>
              {% if error_message %}
<p style="color:crimson; font-weight: 50px;">{{ error_message }}</p>
{% endif %}
              
              <button type="submit" class="btn">Login</button>
              <div class="register-link">
                  <p>Don't have an account?</p>
                  <a href="{% url 'customers:signup' %}">Register</a>
              </div>    
          </form>
      </div>
  
    </div>

    
    
{% endblock %}